.container-password {
    margin-top: 5vh;
    display: flex;
    justify-content: center;
}

.main-container-password {
    display: grid;
    justify-content: center;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
    width: 100%;
}

