.container-password {
    margin-top: 5vh;
    display: flex;
    justify-content: center;
    height: 8vh;
    margin-bottom: 0;
}

.main-container-password {
    display: grid;
    justify-content: center;
    grid-template-rows: 0.2fr 0.2fr;
    grid-template-columns: 1fr;
    width: 100%;
    background-color: #FFE0B1;
    height: 100vh;
}

.alert-primary {

}

.alert-primary2 {
    background-color: #f6f2eb;
    /* Light Green background for form */
    padding: 30px;
    border-radius: 8px;
    max-width: 400px;
    height: 65% !important;
    width: 70% !important;    /* Set a max width */
    margin: 50px auto;
    /* Center the form horizontally and add top/bottom margin */
}
