/* Container for the buttons and file inputs */
.file-import-container {
  display: flex;
  justify-content: center;
  margin-top: 2vh;
  align-items: center;
  gap: 20px;
}

/* Style for hidden file inputs */
input[type="file"] {
  display: none;
}

/* Style for the buttons */
.file-import-container button {
  padding: 15px 20px;
  font-size: 18px;
  cursor: pointer;
  border: 2px solid white;
  border-radius: 10px;
  background-color: #003f5c;
  color: #fafafa;
  transition: background-color 0.3s, border 0.3s;
  text-align: center;
  font-family: "Roboto", Arial, sans-serif;
}

/* Hover effect for all buttons */
.file-import-container button:hover {
  background-color: #fafafa;
  color: #003f5c;
  font-weight: bold;
}

/* Focus effect for all buttons */
.file-import-container button:focus {
  outline: 3px solid #0088cc; /* Blue outline for focus */
  background-color: #fafafa;
  color: #2e2e2e;
  font-weight: bold;
}

.file-import-container button:nth-child(3) {
  background-color: #0088cc;
  color: #fafafa;
  border: 2px solid #0088cc;
}

.file-import-container button:nth-child(3):hover {
  background-color: #fafafa;
  color: #003f5c;
  border: 2px solid #fafafa;
  font-weight: bold;
}

.file-import-container button:nth-child(3):focus {
  outline: 3px solid white;
  background-color: #fafafa;
  color: #003f5c;
  font-weight: bold;
}

