.aboutPage {
    top: 0;
    height: 20vh;
    color: #fafafa;
}

.paragraph-like {
    font-size: 2vh;
    font-weight: 400;
    margin-bottom: 4vh;
    margin-top: 3vh;
    color: #fafafa;
}

.key-features {
    left: 40vw;
}

.container-about {
    height: 50vh;
    padding-top: 0;
}

.col-container.col {
    top: -2vh;
    margin-top: 0;
}