/* Centering the form */
#root {
  height: 100vh;
  overflow: hidden;
}
.main-container {
  position: relative;
  top: -2.5vh;
  height: 100vh;
  width: 100vw;
  background-color: #1F00AB;
  justify-content: center;
}
.container-login {
  padding-top: 8vh;
  position: relative;
  top: 0;
  text-align: center;
  color: #F6F2EB;
  background-color: transparent;
  height: 20vh;
  margin-top: 0;
}

.seperator{
  color: #F6F2EB;
}

h1 {
  font-weight: bold;
  font-family: "Roboto", Arial, sans-serif;
  color: #F6F2EB;
}

.alert-primary {
  background-color: #f6f2eb;
  /* Light Green background for form */
  padding: 30px;
  border-radius: 8px;
  max-width: 400px;
  /* Set a max width */
  margin: 50px auto;
  /* Center the form horizontally and add top/bottom margin */
}

/* Adjusting the form input styles */
.form-control {
  border-color: #2e2e2e;
  /* Green border for inputs */
  border-radius: 8px;
}

.form-control:focus {
  border-color: #2e2e2e;
  box-shadow: 0 0 5px rgba(56, 142, 60, 0.5);
  /* Green shadow */
}

/* Button Styles */
.btn-primary {
  background-color: #4caf50;
  /* Green button */
  border-color: #2e2e2e;
  border-radius: 8px;
  /* Round button corners */
}

.btn-primary:focus {
  background-color: #388e3c;
  /* Darker green on focus */
  border-color: #2e2e2e;
}

.btn-primary:hover {
  background-color: #388e3c;
  /* Dark green on hover */
  border-color: #2e2e2e;
}

.text-danger {
  color: #d32f2f;
  /* Keeping error text red */
}

/* For wider screens, limit the form's width */
@media (min-width: 768px) {
  .alert-primary {
    max-width: 500px;
    /* Increase max-width on larger screens */
  }
}

label {
  font-family: "Roboto", Arial, sans-serif;
}

.img-container {
  width: 100%;
  bottom: 1vh;
  height: 30%;
  position: absolute;
}

.login-signup-gif {
  object-fit: fill;
  position: absolute;
  width: 100%;
  height: 100%;
  right: 0;
}