@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Nunito+Sans:wght@400;600&display=swap");

/* Main container to center content and add spacing */
.dashboard-container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* Container for buttons (timeframe selection) */
.timeframe-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: auto;
  margin-bottom: auto;
}

.timeframe-buttons button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f0f0f0;
  transition: background-color 0.3s;
  width: 100%;
  max-width: 200px;
}

.timeframe-buttons button:hover {
  background-color: #e0e0e0;
}

/* Container for slider */
.slider-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  width: 50%;
  margin-inline: auto;
}

.slider-container > label {
  text-align: center;
  font-family: "Roboto", Arial, sans-serif;
}

.slider-container label {
  font-size: 16px;
  margin-bottom: 10px;
}

.slider-container input[type="range"] {
  width: 100%;
}

/* Container for demographics selection */
.select-container {
  margin-bottom: 30px;
}

/* Styling for demographics select section */
.select-demographics {
  display: flex;
  justify-content: flex-start;
  /* Spreads out the items */
  gap: 40px;
  /* Adds space between the two select containers */
  margin-bottom: 30px;
}

.select-container h2,
.select-container h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.select-container select {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

/* Style for the "Generate" button */
.generate-button {
  display: block;
  width: 100%;
  padding: 13px;
  font-size: 18px;
  margin-inline: auto;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #4caf50;
  color: white;
  transition: background-color 0.3s;
  margin-bottom: 30px;
  margin-top: 30px;
  font-family: "Roboto", Arial, sans-serif;
}

.generate-button:hover {
  background-color: #45a049;
}

/* Styling for Chart component container */
.chart-container {
  width: 100%;
  height: 400px;
  /* Adjust height as necessary */
  margin-bottom: 30px;
}

.chart-container canvas {
  width: 100% !important;
  height: auto !important;
}

/* Control buttons */
.control-buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.control-buttons button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #0088cc;
  color: white;
  margin-right: 10px;
  transition: background-color 0.3s;
}

.control-buttons button:hover {
  background-color: #0088cc;
}

/* Highlighted button */
.active-button {
  background-color: #0088cc !important;
  color: white !important;
  border: 1px solid #0088cc !important;
  scale: 1.1;
}

.chart-container-container {
  display: flex;
  gap: 20px; /* Optional: adjust the space between the two containers */
  align-items: flex-start; /* Align items at the top */
}

/* Adjust widths as necessary */
.select-demographics {
  margin: 0px;
  padding: 0px;
  flex: 1; /* Take up equal width, or set a specific width if needed */
  max-width: 300px; /* Optional: Set a max width for select-demographics */
}

.chart-container {
  flex: 2; /* Take up twice as much space as .select-demographics */
}

.demog-clas {
  padding-left: 30px;
  text-align: center;
  font-family: "Roboto", Arial, sans-serif;
}

body {
  background-color: #f5deb3;
}

.demo-dropdown {
  width: 100vw;
}

.slider {
  width: 50vw;
}
