:root {
  --primary-color: #007bff;
  --background-color-light: #ffffff; /* White background */
  --text-color-dark: #9aecce;
  --button-bg-color: #00452b;
  --button-hover-color: #00d084;
  --highlight-color: #dc3545;
}

body {
  margin: 0;
  padding: 30px;
  background-color: var(--background-color-light); /* White background */
  color: var(--text-color-dark);
  font-family: Arial, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
}

.container {
  max-width: 700px;
  text-align: center;
}

h1 {
  color: var(--primary-color);
  margin: 30px 0;
  font-size: 3rem;
}

h2, h3 {
  font-size: 1.5rem;
  margin: 20px 0;
}

select, button {
  margin: 15px 0;
  padding: 15px;
  font-size: 1.2rem;
}

button {
  background-color: var(--button-bg-color);
  color: var(--button-hover-color);
  border: none;
  border-radius: 12px;
  transition: background-color 0.3s ease;
  font-size: 1.2rem;
  cursor: pointer;
  padding: 15px 20px;
}

button:hover {
  background-color: var(--button-hover-color);
}

.options {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.controls {
  display: flex;
  flex-direction: row;
  gap: 15px;
  margin-top: 30px;
}
