.upload-model-container {
    overflow: hidden;
    top: 0;
    height: 50vh;
    position: relative;
    width: 100%;
}

.uploaded-files-grid {
    display: grid;
    grid-template-columns: 1fr; /* 1 column */
    grid-template-rows: repeat(4, auto); /* 4 rows */
    gap: 10%; /* Adjust the gap between rows if needed */
    height: 100%;
    padding: 0px 0px;
}

.uploaded-file-box {
    position: relative;
    width: 100%;
    height: 8vh;
    display: flex;
    align-items: center;
    gap: 8px;
    /* Space between the icon and file name */
    padding: 16px;
    border-radius: 8px;
    background-color: #E6E6E6;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    /* Optional: subtle shadow */
}

.file-name {
    color: #003f5c;
    font-weight: bold;
    width: 19vh;
    flex-grow: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 1.3vw;
    /* Prevent text wrapping */
}

.file-icon {
    font-size: 1.5vw;
    margin-right: 0.8vw;
}

.delete-file-btn {
    color: #E8ECD7;
    background-color: rgba(0, 0, 0, 0);
    /* Set a background color for the button */
    border: none;
    border-radius: 50%;
    /* Keep the circle shape */
    width: 2vw;
    /* Adjusted to better fit the "X" */
    height: 2vw;
    font-size: 1vw;
    /* Adjusted to match width */
    cursor: pointer;
    /* Adjusted to match the size of the "X" */
    display: flex;
    align-items: center;
    justify-content: left;
    transition: background-color 0.3s ease, transform 0.2s ease;
    /* Ensure there's no extra padding */
    /* Center the "X" */
    line-height: 1;
    /* Prevent any vertical spacing issues */
}

.delete-file-btn:hover {
    transform: scale(1.15);
    /* Slightly enlarge the button */
}

.delete-file-btn:focus {
    outline: none;
}

.delete-file-btn:active {
    transform: scale(1.05);
    /* Slightly shrink on click */
}