.chart-component-wrapper {
    width: 100%;
    height: 60%;
    top:0;
    margin: 20px auto;
    border-radius: 8px;
    box-shadow: none; /* Remove box shadow */
    display: flex;
    justify-content: center;
    align-items: center;
}

.chart-container {
    top:0;
    border-radius: 8px; /* Rounded corners to match the chart style */
    padding: 0;
    display: flex;
    border: none;
    box-shadow: none; /* Remove box shadow */
    width: 50vw;
    height: 50vh;

}

.chart-2-canvas {
    width: 100%;
    height: 100%;
    background-color: #F6F2EB;
    padding: 25px;
    border-radius: 10px;
}

@media (max-width: 768px) {
    .chart-component-wrapper {
        height: 300px;
    }
}
