/* Container for buttons (timeframe selection) */
.timeframe-buttons {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: auto;
  margin-bottom: auto;
  height: 100%;
  justify-content: center;
}

.timeframe-buttons button {
  width: 90%;
  padding: 15px 20px;
  font-size: 17px;
  cursor: pointer;
  border-radius: 10px;
  background-color: rgba(0,0,0,0);
  color: #fafafa;
  border: 2px solid white;
  transition: background-color 0.3s, border 0.3s;
  margin-inline: auto;
  font-family: "Roboto", Arial, sans-serif;
}

/* Hover state */
.timeframe-buttons button:hover {
  background-color: #fafafa;
  color: #2e2e2e;
  font-weight: bold;
}

/* Focus state (for when tabbing into buttons) */
.timeframe-buttons button:focus {
  outline: 3px solid #a3b7ca; /* Blue outline for focus */
  background-color: #a3b7ca;
  color: #003f5c;
  font-weight: bold;
}
