.share-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    background-color: #003f5c; /* Dark teal */
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    gap: 8px; /* Adds space between icon and text */
    left: 2%;
    position: absolute;
    bottom: 2%;
}

.share-button i {
    font-size: 1.2rem; /* Adjust icon size */
}

.share-button:hover {
    background-color: #009999; /* Lighter teal */
    transform: scale(1.05); /* Slight zoom effect */
    border: 2px solid #009999;
}

.share-button:focus {
    outline: none;
    border-color: white;
    border: 6px solid white;
}

.share-button:active {
    transform: scale(0.95); /* Press effect */
}

.icon-share {
    margin-right: 4px;
}
