.container-signup {
  position: relative;
  text-align: center;
  color: #bbe1fa;
  /* Soft light blue for text */
  background-color: transparent;
  height: 8vh;
  margin-top: 6vh;
}

.alert-primary3 {
  background-color: #f9f9f9;
  /* Subtle off-white for form background */
  padding: 30px;
  border-radius: 8px;
  max-width: 500px;
  /* Set a max width */
  margin: auto;
  /* Center the form horizontally and add top/bottom margin */
}

.w-100 {
  width: 210% !important;
}